body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2%;
}

ul {
    list-style-type: none;
}

.text {
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
    font-style: normal;
}

.text:hover {
    color:#404BBF;
}

.text:focus {
    color: #404BBF;
}

.butt {
    background-color: #4D5AE5;
    color:#ffffff;
    cursor: pointer;
    font-family: "Roboto",
        sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.butt:focus {
    background-color: #404BBF;
}

.butt:hover {
    background-color: #404BBF;
}

a {
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 4%;

}

.link {
    color: #2E2F42;
font-family: "Roboto",
    sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.list {
    color: #2E2F42;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.list:focus {
    color: #404BBF;
}

.link:hover {
    color: #404BBF;

}

.link:focus {
    color:#404BBF;
}

.logo {
    color:#4D5AE5;
    text-transform: uppercase;
    font-family: "Raleway",
     sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-weight: 700;
}

.contacts {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts:hover {
    color: #404BBF;
}

.contacts:focus {
    color: #404BBF;
}

footer .logo {
    color: #ffffff;
    text-transform: uppercase;
}

.logo .web-logo{
    color:#2E2F42;
    text-transform: uppercase;
        font-family: "Raleway",
         sans-serif;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        font-weight: 700;
}

.solutions {
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.service {
    color: #2E2F42;
    font-family: "Roboto",
        sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.service-one {
    color: #434455;
    font-family: "Roboto",
        sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
}

.team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}
.person {
    background-color: #ffffff;
}

.person-one {
    color: #2e2f42;
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.designer {
    color: #434455;
    font-family: "Roboto",
        sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .portfolio-title {
        font-size: 36px;
        line-height: 1,11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .folio-element {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .folio-content {
    color: #434455;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.bigfoot {
    background-color: #2E2F42;
    color: #ffffff;
}

.studio {
    color: #f4f4fd;
        text-transform: uppercase;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        font-weight: 700;
}

.web {
    color: #4d5ae5;
        text-transform: uppercase;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        font-weight: 700;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}